@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    color: #6a6a75
}

.container {
    max-width: 1300px;
    background: #ffffff;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url('img/gold_splatter_new.webp');
    background-position: top right 25%;
    background-repeat: no-repeat;
    background-size: 40%;
}

/* Navigation design */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 1.2em;
}

nav div:first-of-type {
    display: flex;
}
nav div:first-of-type a {
    padding: 15px 25px;
    text-decoration: none;
    color: #2d2c70;
    font-weight: 500;
}

nav div:first-of-type a:first-child {
    color: #8281bd;
}

.contact_me_btn a {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    text-decoration: none;
    background: #3a79dd;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 30px 40px -15px #4e87e4;
}

.contact_me_btn a:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    right: 0;
    top: 0;
    background: #ffffff;
    margin: -22px;
    transform: rotate(38deg);
}

/* Header style */
header {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.info_img > img{
    max-width: 100%;
    opacity: 0.6;
}

.info {
    align-self: center;
}

.info h2:first-child {
    color: #ecb351;
    font-size: 1.9em;
    font-weight: 600;
    margin: 0;

}

.info h2:last-of-type {
    color: #3a398a;
    font-size: 2.5em;
    font-weight: 650;
    margin: 10px 0;
}

.info p {
    margin-bottom: 40px;
}

.social_media_network {
    margin-top: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.social_media_network img {
    max-width: 36px;
    max-height: 36px;
}

/* Services section styling */
section.services {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 40px;
    margin-top: 130px;
    margin-bottom: 50px;
    
}

section.services img {
    width: 70px;
}

.services_header {
    padding: 20px;
}

.services_header p {
    padding-bottom: 20px;
    line-height: 2em;
}

.services_header h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #31307c;
}
.services_header h2 span, .skills_extend h3 span, .contact h3 span {
    color: #ecb351;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.cards div {
    text-align: center;
    padding: 15px;
    border: 1px solid #ececf0;
}

.cards div:first-child {
    box-shadow: 0px 130px 78px -15px #c5d5ee;
    border: none;
    position: relative;
    top: -100px;
}

.cards div:nth-child(3) {
    border-top: none;
    position: relative;
    top: -120px;
} 

.cards h3 {
    color: #31307c;
    font-weight: 600;
}

.cards p {
    font-size: 0.8em;
}

/* Skills section styling */
section.skills {
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    /* padding:20px; */
    border-radius: 5px;
    box-shadow: 0px 0px 12px 15px rgba(0, 0, 0, 0.08)
}
.skills img {
    max-width: 40px;
    padding: 20px;
}

.skills > h3 {
    align-self: center;
    color:#e2a437;
    letter-spacing: 0.6em;
}

/* Styling skills extend(Why you choose me section) */
.skills_extend {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 20px;

}

.skills_extend > div:first-of-type {
    grid-column: span 2;
    text-align: center;
}

.skills_extend h3, .contact h3 {
    font-size: 2em;
    color: #31307c;
    margin: 30px 0;
}


.skills_extend .professional_skills {
    justify-self: left;
}

.skills_extend .bars span {
    font-size: 0.8em;
}

.skills_extend .bars .bar {
    width: 85%;
    height: 14px;
    background: lightgrey;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-top: 5px;

}

.skills_extend h4 {
    color: #31307c;
    font-size: 1.2em;
}

.skills_extend .bars p {
    height: 100%;
    border-radius: 9px;
    margin: 0;
}
.skills_extend .bars .figma p {
    width: 80%;
    background: #5755a7;
}
.skills_extend .bars .xd p {
    width: 90%;
    background:#c28926;
}
.skills_extend .bars .bluelight p {
    width: 75%;
    background: rgb(99, 183, 211);
}
.skills_extend .bars .bluelight p {
    width: 75%;
    background: rgb(99, 183, 211);
}
.skills_extend .bars .pink p {
    width: 85%;
    background: rgb(228, 143, 158);
}
.skills_extend .bars .green p {
    width: 92%;
    background: rgb(85, 155, 85);
}

.skills_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
}

.skills_cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.skills_cards .card:nth-child(2){
    position: relative;
    left: 20px;
    top: 10px;
}

.skills_cards .card:nth-child(3){
    position: relative;
    left: 10px;
}

.skills_cards .card:nth-child(4){
    position: relative;
    left: 30px;
    top: 10px;
} 

.skills_cards .card span {
    margin-top: 5px;
    color: #31307c;
}
.circular_progress {
    position: relative;
    width: 80px;
    height: 80px;
    background: conic-gradient(#5755a7 3.6deg, #ededed 0deg );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular_progress::before {
    content: "";
    width: 63px;
    height:63px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
}

.circular_value {
    position: relative;
    font-size: 1.1em;
    color: #31307c;
}

.circular_progress.html_css {
    background: conic-gradient(#c28926 306deg, #ededed 0deg );
}
.circular_progress.javascript {
    background: conic-gradient(#7978ca 252deg, #ededed 0deg );
}
.circular_progress.php {
    background: conic-gradient(lightblue 288deg, #ededed 0deg );
}
.circular_progress.html_css {
    background: conic-gradient(#c28926 306deg, #ededed 0deg );
}
.circular_progress.mysql {
    background: conic-gradient(rgb(94, 163, 94) 342deg, #ededed 0deg );
}

/* Styling the contact section */

.contact {
    margin: 0px auto;
    max-width: 900px;
    text-align: center;
    padding: 90px 0;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

form input[type="text"] {
    background: #F5F5F5;
    border: none;
    padding: 20px 35px;
    border-radius: 15px;
    font-size: 1.02em;
}
form input[type="text"]:focus {
    background: #ffffff;
}

form textarea {
    grid-column: span 2;
    padding: 20px 35px;
    border: none;
    background: #F5F5F5;
}
form textarea:focus {
    background: #ffffff;
}

form textarea::placeholder {
    font-size: 1.3em;
}

form button {
    padding: 20px 35px;
    max-width: 60%;
    border-radius: 5px;
    background: #3a79dd;
    border: 1px solid #295fb6;
    color: #ffffff;
    font-size: 1.1em;
    cursor: pointer;
}
form button:hover {
    background: #225ab4;

}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 20px;
}

footer div {
    padding: 20px;
    box-sizing: border-box;
    justify-self: right;
}
footer > p {
    grid-column: span 4;
    justify-self: center;
    font-size: 0.9em;
}
footer .media_networks {
    display: flex;
    padding: 0;
}

footer .media_networks img {
    max-width: 30px;
}


footer div p {
    font-size: 0.8em;
}

footer h4 {
    color: #31307c;
    padding-bottom: 5px;
    font-weight: 600;
}

footer div:first-child h4 {
    font-weight: 700;
}